<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softeem.mappers.club.ArenaGoldMapper">

    <!-- 查询用户权限信息 -->
    <select id="ListArenaGold" resultType="com.softeem.model.club.ArenaGold">
			SELECT
				ct.*,
				p.`name` AS playerName,
				c.NAME AS clubName 
			FROM
				clubmemberext ct
				LEFT JOIN player p ON ct.playerUid = p.uid
				LEFT JOIN clubinfo c ON ct.clubUid = c.uid 
			WHERE 1=1
				
			<if test="clubUid !=null and clubUid !=''">
			  and  ct.clubUid = #{clubUid}
			
			</if>
			
			<if test="playerUid !=null and playerUid !=''">
			   and  ct.playerUid=#{playerUid}
			
			</if>
			
    </select>
    
   
    

    

</mapper> 
