<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softeem.mappers.sys.UserMapper">

    <!-- 查询用户信息 -->
    <select id="findByUserName" resultType="com.softeem.model.sys.User">
        SELECT * FROM user_info WHERE username = #{userName}
    </select>
    
    <!-- 添加用户 -->
    <!-- 创建用户 -->
    <insert id="insert" parameterType="com.softeem.model.sys.User">
        <selectKey resultType="java.lang.Integer" keyProperty="uid" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="username != null and username != ''" >
                username,
            </if>
            <if test="password != null and password != ''" >
                password,
            </if>
            <if test="name != null and name != ''" >
                `name`,
            </if>
            <if test="id_card_num != null and id_card_num != ''" >
                id_card_num,
            </if>
            <if test="state != null and state != ''" >
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid},
            </if>
            <if test="username != null and username != ''" >
                #{username},
            </if>
            <if test="password != null and password != ''" >
                #{password},
            </if>
            <if test="name != null and name != ''" >
                #{name},
            </if>
            <if test="id_card_num != null and id_card_num != ''" >
                #{id_card_num},
            </if>
            <if test="state != null and state != ''" >
                #{state},
            </if>
        </trim>
    </insert>
   
    <!-- 删除用户 -->
    <delete id="del">
        DELETE FROM user_info WHERE username = #{username}
    </delete>
    
    
    <resultMap id="userMap" type="com.softeem.model.sys.User">
        <id column="uid" property="uid"/>
        <result column="username" property="username"/>
         <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="id_card_num" property="id_card_num"/>
        <result column="state" property="state"/>
        <collection property="roles" ofType="com.softeem.model.sys.Role">
            <id column="id" property="id"/>
            <result column="role" property="role"/>
            <result column="description" property="description"/>
            <result column="available" property="available"/>
        </collection>
    </resultMap>
    
    <select id="listUserRole" resultMap="userMap">
      SELECT
		u.uid,u.username,u.password,u.name,u.id_card_num,u.state,
		r.id,r.role,r.description,r.available
		FROM
		user_info u
		LEFT JOIN sys_user_role sr ON sr.uid = u.uid
		LEFT JOIN sys_role r ON sr.role_id = r.id
    </select>
    
    
    
    
    
    

</mapper> 
