<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softeem.mappers.release.WhiteMapper">

  
  <!--<select id="getGameConfigs1byId" resultType="com.softeem.model.release.GameConfigs1">
        SELECT * from gameconfigs1 where id = #{id}
    </select> -->
    
    <select id="listWhiteByUid" resultType="com.softeem.model.release.White">
        SELECT * from white where uuid = #{uuid}
    </select> 
</mapper> 

